### Scrapping tweets from twitter

#### Importing libraries

In [5]:
import tweepy
import pandas as pd
from tweepy.auth import OAuthHandler

#### user credentials to authenticate API

In [6]:
_consumer_key = "Your code"
_consumer_secret = "Your code"
_access_token = "Your code"
_access_token_secret = "Your code"

In [7]:
auth = OAuthHandler(_consumer_key, _consumer_secret)
auth.set_access_token(_access_token, _access_token_secret)
api = tweepy.API(auth)

In [8]:
try:
    api.verify_credentials()
    print("Authentication OK")
except:
    print("Error during authentication")

Authentication OK

### Specifying what tweets to scrap

In [15]:
search_word = 'Elon Musk'
date_since = '2021-02-25'
count= 100

### Creation of query method using parameters

In [27]:
tweets = tweepy.Cursor(api.search, q = search_word, lang='en', since = date_since).items(count)

tweet_details = [[tweet.id,tweet.user.screen_name,tweet.created_at,tweet.text] 
                 for tweet in tweets]

### Creation of dataframe from tweets list

In [28]:
df = pd.DataFrame(data= tweet_details,columns=['ID','User Name','Date Time','Actual tweet'])
df.to_csv('Scrapped_elonmusk_tweets.csv')

In [29]:
df

,ID,User Name,Date Time,Actual tweet
0,1365486858990473221,Cesar17569880,2021-02-27 02:20:11,@nypost Who cares what she thinks.. its not li...
1,1365486848852721664,globalfirstnews,2021-02-27 02:20:08,SpaceX is about to reattempt a high-altitude f...
2,1365486811796021250,JohnTessandori3,2021-02-27 02:20:00,RT @shannonmstirone: Thanks to everyone for re...
3,1365486791172575237,William64473005,2021-02-27 02:19:55,"RT @business: Unless youâ€™re Elon Musk, you sho..."
4,1365486761116327936,Jennife46309416,2021-02-27 02:19:48,RT @APompliano: Tesla bought $1.5 billion of B...
...,...,...,...,...
95,1365481885485305856,akevinhao,2021-02-27 02:00:25,"@cryptoccybtc @elonmusk If the DOGE pump $ 10,..."
96,1365481873670045697,jimkhm,2021-02-27 02:00:22,RT @stlouisbiz: The Cortex-based medical devic...
97,1365481871497289729,caberc65,2021-02-27 02:00:22,Elon Musk confirms Tesla plant closure amid st...
98,1365481827042025472,stlouisbiz,2021-02-27 02:00:11,The Cortex-based medical device company said i...
99,1365481811279810564,CowboySciFiBot,2021-02-27 02:00:07,RT @iamtinthel: ðŸš€New Single: @elonmusk by Tint...